@import 'src/assets/scss/colors.module.scss';

@mixin card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 13px 16px 17px 16px;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
  font-weight: 500;
  font-size: 1rem;
  line-height: 20px;
  word-break: break-all;
  height: max-content;
  cursor: pointer;
  text-decoration: none;
}


.light {
  &__card {
    @include card;
    background-color: $light-card;
    color: $black;

    a {
      text-decoration: none;
    }

    a:link, a:visited {
      color: $black;
    }
  }

  &__counterProduct {
    font-size: 12px;
    width: 35px;
    color: $orange !important;
  }
}

.dark {
  &__card {
    @include card;
    background-color: $dark-card;
    color: $white;

    a {
      text-decoration: none;
    }
  }
}