@import 'src/assets/scss/colors.module.scss';
@import 'src/assets/scss/mixins.scss';

.light {
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 100%;
    position: relative;
    text-decoration: none !important;

    &__active {
      left: 0;
      top: 0;
      position: absolute;
      width: 6px;
      background: #F9A109;
      height: 100%;
      border-radius: 0px 4px 4px 0px;
    }

    &:link, 
    &:visited {
      color: $black;
    }
  }
}