@import 'src/assets/scss/colors.module.scss';
@import 'src/assets/scss/mixins.scss';

.light {
  &__form-control {
    @include d-flex-column();

    label {
      margin-bottom: 6px;
      font-size: 14px;
      color: #000000;
      font-weight: 500;
    }

    select {
      @include form-control();

      option {
        border: 1px solid #E0E0E0;
        background: $white;
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
        border-radius: 12px;
      }
    }
  }

  &__message-error {
    color: #EB5757;
    font-size: 12px;
    font-weight: bold;
  }

}