@import 'src/assets/scss/colors.module.scss';
@import 'src/assets/scss/mixins.scss';


.light {

  &__aside-content {
    height: 100%;
    width: 100%;
    background: #FFF0DE;
  }

  &__list {
    @include d-flex-column();
    height: 100%;

    &__header {
      background: #80485B;
      border-radius: 24px;
      display: flex;
      padding: 18px 27px;
      position: relative;
      margin-top: 43px;
      max-height: 140.6px;

      & > div {
        padding-left: 81px;
      }

      h2 {
        color: #ffffff;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 13px;
      }

      img {
        position: absolute;
        top: -17px;
        left: 12px;
      }

      a {
        max-height: 42px;
      }

    }

    &__body {
      padding: 43px 44px 0;
      position: relative;
      overflow-y: auto;
      overflow-x: hidden;
      height: 100%;
    }

    &__action {
      position: relative;
      display: flex;
      justify-content: center;
      padding: 34px 44px;
      background: white;
    }
  }

  &__un-draw-shopping {
    position: absolute;
    bottom: 114px;
    right: 0;
    left: 0;
    margin: 0 auto;
  }

  &__no-items {
    z-index: 2;
    height: max-content;
    width: max-content;
    position: absolute;
    margin: auto !important;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    font-size: 1.25em;
    font-weight: bold;
  }

  &__search {
    position: relative;

    input {
      padding: 18px 17px !important;
      border: 2px solid $orange !important;
    }

    a, button {
      max-height: 56px;
    }

    button {
      position: absolute;
      right: 0;
      top: 0;
      max-height: 56px;
    }
  }
}