@import 'src/assets/scss/colors.module.scss';
@import 'src/assets/scss/mixins.scss';

.light {

  &__aside-content {
    height: 100%;
    width: 100%;
  }

  &__preview {
    @include d-flex-column();
    height: 100%;

    &__image-product {
      border-radius: 25px;
      width: 100%;
      max-width: 300px;
      height: 100%;
      max-height: 219px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      margin-bottom: 53px;
      img {
        width: 100%;
      }
    }

    &__info {
      margin-bottom: 36px;
      span {
        color: $gray;
        font-size: 12px;
        font-weight: 500;

      }

      p {
        margin-top: 11px;
        font-size: 18px;
        font-weight: 500;
      }
    }

    &__actions {
      @include media('mobile') {
        padding-top: 20px;
        padding-bottom: 20px;
      }
      button {
        max-height: 58.4px;
      }
    }
  }
}