@import 'src/assets/scss/colors.module.scss';
@import 'src/assets/scss/mixins.scss';

.light {
  &__form-control {
    @include d-flex-column();

    label {
      margin-bottom: 6px;
      font-size: 14px;
      color: #000000;
      font-weight: 500;
    }

    input {
      @include form-control();
    }
  }

  &__message-error {
    color: #EB5757;
    font-size: 12px;
    font-weight: bold;
  }

}