@import 'src/assets/scss/colors.module.scss';
@import 'src/assets/scss/mixins.scss';

.light {
  &__aside-content {
    height: 100%;
    width: 100%;
  }

  &__form {
    @include d-flex-column();
    height: 100%;
  }

  &__actions {
    a, button {
      max-height: 58px;
    }
  }
}